body {
    margin: 0;/* Remove as margens padrão da página */
    padding: 0; /* Remove o preenchimento padrão da página */
    width: 100%;/* Define a largura do corpo como 100% da tela */
    height: 100%;/* Define a altura do corpo como 100% da tela */
}
nav {  /*Estilização do menu em geral*/
    margin: 0 auto;
    position: absolute;/* Posiciona o menu de forma absoluta em relação ao primeiro elemento posicionado */
    top: 15px;/* Define a posição superior do menu a 15px do topo */
    width: 100%;/* Define a largura do menu como 100% da tela */
    min-width: 1080px; /* Define uma largura mínima para o menu de 1080px */
}
nav #main-menu-geral {
    max-width: 1480px;/* Define a largura máxima do menu principal como 1480px */
    height: 125px;/* Define a altura do menu principal como 125px */
    margin: 0 auto;/* Centraliza o menu */
    background-color: black;/* Define a cor de fundo como preta */
}
nav ul li span {
    float: left; /* Alinha o texto à esquerda */
    color: #868686;/* Define a cor do texto como um cinza claro */
    font-size: 11px;/* Define o tamanho da fonte como 11px */
    margin: 58px 3px 53px 15px;/* Define as margens ao redor do texto */
}
nav ul li a {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 53px 15px 53px 0px;
    float: left;
    transition: all 1s;
}
nav ul li a:hover {
    text-decoration: line-through;
    color: rgb(231, 169, 32);
    transition: all 1s;
}
nav ul li a span {
    font-size: 11px;
    color: #868686; 
    margin: 5px 3px 0 0;
    text-decoration: none;
}
nav ul {  /*Estilização da lista do menu*/
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav ul li {  /*Estilização dos elementos da lista do menu*/
    list-style: none;
    height: 125px;
    transition: all 1s;
}
nav ul li:hover {
    background: #444444;
    transition: all 1s;/* Aplica uma transição suave de 1 segundo */
}
nav #logo img {  /*Estilização da imagem de logo do menu*/
    height: 75px;
    margin: 25px;
    float: left;
}
nav #main-menu {  /*Estilização da imagem do menu*/
    float: right;
}
.montserrat, nav ul li a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header{
    width: 100%;
    height: 600px;
}
header .slide {
    width: 100%;
    height: 600px;
    object-fit: cover;/* Cobre toda a área da imagem mantendo sua proporção */
    position: absolute;
    z-index: -1;/* Define a camada da imagem atrás dos outros elementos */
}
header #slide-bar {
    margin-top: 320px;
    height: 280px;
    float: left;
    background-image: url(../img/yellow-bg.png);
    width: 625px;
    padding: 0 0 0 60px;
}

header #txt_slide{
    font-family:  "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;/* Transforma o texto em letras maiúsculas */
}
header #titulo_slide{
    font-size: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;

}
header #titulo_slide h4{
    margin: 30px 0;
}
header .seta{
    float: left;
}
header .direita{
    margin-left:20px ;
}
.separador{
    width: 100%;
    height: 300px;
    background-image: url(../img/divider-dark.png);
    background-repeat: repeat-x;
}
