nav ul{
    display:flex;
    /* Define que os itens da lista serão exibidos em um layout flexível */
    flex-direction:row;
    /* Organiza os itens da lista em uma linha horizontal */
}
nav ul li{
    list-style: none;
    /* Remove os marcadores padrão da lista, como pontos ou números */
    height: 125px;
    padding: 0 25px 0 0;
}
nav uç li:hover{
    background: #444444;
}
nav{
    height: 125px;
    /* Define a altura do elemento de navegação (nav) como 125 pixels */
    max-width: 1480px;
    /* Define a largura máxima do nav para 1480 pixels */
    min-width: 1080px;
    /* Define a largura mínima do nav para 1080 pixels */
    background-color: black;
    /* Define a cor de fundo do nav como preto */
}
nav #logo img{
    height: 75px;
    /* Define a altura da imagem dentro da div com id "logo" como 75 pixels */
    margin: 25px;
    /* Adiciona uma margem de 25 pixels em torno da imagem, afastando-a dos outros elementos */
    float: left;
    /* Alinha o elemento com id "mainMenu" à direita. Nota: há um erro de digitação aqui, a propriedade correta é 'float: right;' */
}
nav #mainMenu{
    float: right;
    /* Alinha o elemento com id "mainMenu" à direita do elemento pai (navegação) */
}